:local .container {
  display: flex;
  padding: 20px 0;
  /*background-color: #333;*/
  /*color: #eee;*/
  align-items: center;
}

:local .image {
  max-width: 300px;
  max-height: 200px;
}

:local .info {
  flex: 1;
  margin-left: 40px;
}

:local .link {
  text-decoration: none;
  font-size: 32px;
  margin: 10px;
  color: inherit;
  cursor: pointer;
}

:local .name {
  font-weight: bold;
  font-size: 24px;
  margin: 10px 0;
  display: flex;
  align-items: center;
}

:local .input {
  width: 100%;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}