:local .background {
  position: relative;
  height: 100vh;
  background-image:
    linear-gradient(
      to top right,
      #333, #555
    );
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #eee;
}

:local .name {
  margin: 5px;
  font-size: 24px;
  font-weight: bold;
}

:local .link {
  text-decoration: none;
  color: #eee;
  font-size: 36px;
  margin: 0 5px;
}

:local .title {
  font-size: 16px;
}

:local .image {
  width: 250px;
  height: 250px;
  z-index: 2;
  margin: 10px;
  border-radius: 50%;
  background-size: 350px auto;
  background-position: 50% 25%;
}

:local .icon {
  position: absolute;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 8vw;
  height: 8vw;
}

:local .section {
  padding: 40px 100px;
  font-size: 18px;
}

:local .sectionHeader {
  margin: 0;
  margin-bottom: 20px;
  font-size: 48px;
  text-align: center;
}

:local .projects {
  background-color: #3F51B5;
  color: #eee;
}

:local .jobs {
  background: #673AB7;
  color: #eee;
}

:local .about {
  text-align: center;
  background-color: #2196F3;
  color: #eee;
}

:local .contact {
  background-color: #9C27B0;
  color: #eee;
  text-align: center;
  font-size: 24px;
}
